@font-face {
  font-family: Chirp;
  src: url(../fonts/Chirp.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Chirp, sans-serif;
}
:root {
  --black: black;
  --background-blue: #15202b;
  --white: #f7f9f9;
  --border-color: #38444d;
  --gray: #8b98a5;
  --blue-neon: #1d9bf0;
  --primary-btn-hover: #1d9cf0d7;
  --pink-neon: #f91880;
  --green-neon: #00ba7c;
  --background-blue-hover: #1dfff01a;
  --background-pink-hover: #f918801a;
  --background-green-hover: #00ba7c1a;
}
body {
  background-color: var(--background-blue);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo {
  width: clamp(40px, 20vw, 120px);
  height: clamp(40px, 20vw, 120px);
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  user-select: none;
}
h1 {
  font-size: clamp(20px, 3rem, 45px);
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1rem;
}
.container-tweet {
  max-width: 700px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  padding: 12px 16px;
  display: flex;
}
.wrapper-profil figure {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}
.wrapper-profil figure img {
  width: 100%;
  height: 100%;
  user-select: none;
}
.wrapper-tweet {
  width: 100%;
}
.header-tweet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray);
}
.info-profil {
  display: flex;
  align-items: center;
}
.more-info-profil svg {
  fill: var(--gray);
  width: 18.75px;
  height: 18.75px;
  cursor: pointer;
}
.header-tweet h3 {
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #000;
}
.header-tweet h3:hover {
  text-decoration: underline;
}
.header-tweet .certif {
  width: 18.75px;
  height: 18.75px;
  fill: var(--blue-neon);
  margin-left: 2px;
  cursor: pointer;
}
.header-tweet .gold-certif {
  width: 18.75px;
  height: 18.75px;
  margin-left: 2px;
  cursor: pointer;
}
.certif-hidden,
.like-hidden {
  display: none;
}
.header-tweet .username {
  font-weight: 400;
  margin: 0 5px;
}

.content {
  color: var(--white);
  margin-top: 2px;
}
.content figure {
  margin-top: 12px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  overflow: hidden;
  max-height: 700px;
}
.content figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  vertical-align: bottom;
}
.bottom-tweet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray);
  font-size: 13px;
  margin-top: 12px;
}
.item-bottom-tweet {
  display: flex;
  align-items: center;
  position: relative;
}
.item-bottom-tweet svg {
  width: 18.75px;
  height: 18.75px;
  fill: var(--gray);
  cursor: pointer;
  transition: fill 0.2s ease;
}
.svg-liked {
  fill: var(--pink-neon) !important;
  animation: like 0.4s forwards;
}
@keyframes like {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.item-bottom-tweet p {
  position: absolute;
  left: 30px;
  width: 100%;
  transition: color 0.2s ease;
  user-select: none;
}
.item-more {
  gap: 12px;
}
.wrapper-svg {
  transition: background-color 0.2s ease;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.hover-blue p,
.hover-pink p,
.hover-green p {
  cursor: pointer;
}
/* Blue effect hover */
.hover-blue .wrapper-svg:hover {
  background-color: var(--background-blue-hover);
}
.hover-blue .wrapper-svg:hover svg {
  fill: var(--blue-neon);
}
.hover-blue .wrapper-svg:hover + p {
  color: var(--blue-neon);
}
.hover-blue p:hover {
  color: var(--blue-neon);
}
.hover-blue:has(p:hover) .wrapper-svg {
  background-color: var(--background-blue-hover);
}

.hover-blue:has(p:hover) .wrapper-svg svg {
  fill: var(--blue-neon);
}

/* Pink effect hover */
.hover-pink .wrapper-svg:hover {
  background-color: var(--background-pink-hover);
}
.hover-pink .wrapper-svg:hover svg {
  fill: var(--pink-neon);
}
.hover-pink .wrapper-svg:hover + p {
  color: var(--pink-neon);
}
.hover-pink p:hover {
  color: var(--pink-neon);
}
.hover-pink:has(p:hover) .wrapper-svg {
  background-color: var(--background-pink-hover);
}

.hover-pink:has(p:hover) .wrapper-svg svg {
  fill: var(--pink-neon);
}

/* Green effect hover */
.hover-green .wrapper-svg:hover {
  background-color: var(--background-green-hover);
}
.hover-green .wrapper-svg:hover svg {
  fill: var(--green-neon);
}
.hover-green .wrapper-svg:hover + p {
  color: var(--green-neon);
}
.hover-green p:hover {
  color: var(--green-neon);
}
.hover-green:has(p:hover) .wrapper-svg {
  background-color: var(--background-green-hover);
}

.hover-green:has(p:hover) .wrapper-svg svg {
  fill: var(--green-neon);
}
.btn-primary {
  color: var(--white);
  background-color: var(--blue-neon);
  border-radius: 50%;
  border: none;
  padding: 10px 16px;
  outline-color: var(--white);
}

/* Button */
.btn-primary {
  background-color: var(--blue-neon);
  border: 0;
  border-radius: 99px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #ffffff;
  font-size: 22px;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 16px 34px;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 1rem 0;
}

.btn-primary:active {
  transform: translateY(1px);
}
.btn-primary:hover {
  outline: 0;
  background-color: var(--primary-btn-hover);
}
footer {
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-around;
  color: var(--white);
  padding: 2rem;
}
footer p {
  text-align: center;
  width: 100%;
}
footer a,
.link {
  color: var(--white);
  text-decoration: none;
  display: inline-block;
}
footer a::after,
.link::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: var(--white);
  transition: width 0.2s ease;
  margin: 0 auto;
}
footer a:hover::after,
.link:hover::after {
  width: 100% !important;
}
.message {
  margin: 2rem 0;
  width: 100%;
  max-width: 700px;
}
.message p {
  color: var(--white);
  min-height: 19px;
  user-select: none;
}
.para-liked {
  width: max-content;
}
.wrapper-svg-liked {
  transition: transform 0.2s ease;
}
.stat {
  color: var(--white);
  margin-bottom: 1rem;
}
.loader {
  background-color: var(--background-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.2s ease-in;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}
.loader img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

::-webkit-scrollbar {
  color: blue;
}
::-webkit-scrollbar-track-piece {
  background-color: var(--border-color);
}
::-webkit-scrollbar-thumb {
  background-color: #64696d;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #787b7e;
}
.figure-img-tap-in {
  position: relative;
  transition: minHeight 0.2s ease;
}
.screamer-img {
  position: absolute;
  top: 0;
  right: 0;
  animation: screamer 1s forwards;
  width: 100%;
  height: 100%;
}
@keyframes screamer {
  0% {
  }
  40% {
    transform: scale(3);
  }
  80% {
    transform: scale(1);
  }
}
